.StrikePriceChart {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    flex: 2;
}

.StrikePriceChart h4 {
    margin: 0 0 .25rem;
}

.StrikePriceChart h3 {
    font-weight: 600;
    margin: 0 0 .5rem;
}

.chartWrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.chartDetail {
    padding: 1rem;
    text-align: center;
    text-align: left;
}

.chartDetail span {
    font-weight: bold;
}

.chartDetail td {
    padding: 0 2rem;
}

.cellAsk {
    color: #05b3e3;
}

.cellMidpoint {
    color: grey;
}

.cellBid {
    color: #35729e;
}

.cellOI {
    color: silver;
}

.chartDetail {
    display: flex;
    justify-content: space-between;
}

.chartDetail table {
    font-size: 1.1rem;
    margin: 0 auto;
}

.chartDetail tr td:last-child {
    text-align: right;
}

.chartDetail tr td:first-child {
    font-weight: bold;
    text-align: left;
}